vee-covid-app/package-lock.json
node_modules/react-native-screens/LICENSE
node_modules/react-native-screens/package.json
node_modules/react-native-screens/README.md
node_modules/react-native-screens/RNScreens.podspec
node_modules/react-native-screens/android/build.gradle
node_modules/react-native-screens/android/src/main/AndroidManifest.xml
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/LifecycleHelper.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/RNScreensPackage.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/Screen.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenAppearEvent.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenContainer.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenContainerViewManager.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenDisappearEvent.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenDismissedEvent.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenFragment.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenStack.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenStackFragment.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenStackHeaderConfig.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenStackHeaderConfigViewManager.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenStackHeaderSubview.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenStackHeaderSubviewManager.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenStackViewManager.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenViewManager.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenWillAppearEvent.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenWillDisappearEvent.java
node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/StackFinishTransitioningEvent.java
node_modules/react-native-screens/android/src/main/res/anim/rns_slide_in_from_left.xml
node_modules/react-native-screens/android/src/main/res/anim/rns_slide_in_from_right.xml
node_modules/react-native-screens/android/src/main/res/anim/rns_slide_out_to_left.xml
node_modules/react-native-screens/android/src/main/res/anim/rns_slide_out_to_right.xml
node_modules/react-native-screens/createNativeStackNavigator/package.json
node_modules/react-native-screens/createNativeStackNavigator/README.md
node_modules/react-native-screens/ios/RNSScreen.h
node_modules/react-native-screens/ios/RNSScreen.m
node_modules/react-native-screens/ios/RNSScreenContainer.h
node_modules/react-native-screens/ios/RNSScreenContainer.m
node_modules/react-native-screens/ios/RNSScreenStack.h
node_modules/react-native-screens/ios/RNSScreenStack.m
node_modules/react-native-screens/ios/RNSScreenStackHeaderConfig.h
node_modules/react-native-screens/ios/RNSScreenStackHeaderConfig.m
node_modules/react-native-screens/ios/RNSSearchBar.h
node_modules/react-native-screens/ios/RNSSearchBar.m
node_modules/react-native-screens/ios/UIViewController+RNScreens.h
node_modules/react-native-screens/ios/UIViewController+RNScreens.m
node_modules/react-native-screens/ios/RNScreens.xcodeproj/project.pbxproj
node_modules/react-native-screens/ios/RNScreens.xcodeproj/project.xcworkspace/contents.xcworkspacedata
node_modules/react-native-screens/ios/RNScreens.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
node_modules/react-native-screens/ios/RNScreens.xcodeproj/project.xcworkspace/xcuserdata/kacperkapusciak.xcuserdatad/UserInterfaceState.xcuserstate
node_modules/react-native-screens/ios/RNScreens.xcodeproj/xcuserdata/kacperkapusciak.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
node_modules/react-native-screens/ios/RNScreens.xcodeproj/xcuserdata/kacperkapusciak.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native-screens/lib/commonjs/createNativeStackNavigator.js
node_modules/react-native-screens/lib/commonjs/createNativeStackNavigator.js.map
node_modules/react-native-screens/lib/commonjs/index.js
node_modules/react-native-screens/lib/commonjs/index.js.map
node_modules/react-native-screens/lib/commonjs/index.native.js
node_modules/react-native-screens/lib/commonjs/index.native.js.map
node_modules/react-native-screens/lib/commonjs/types.js
node_modules/react-native-screens/lib/commonjs/types.js.map
node_modules/react-native-screens/lib/commonjs/native-stack/index.js
node_modules/react-native-screens/lib/commonjs/native-stack/index.js.map
node_modules/react-native-screens/lib/commonjs/native-stack/types.js
node_modules/react-native-screens/lib/commonjs/native-stack/types.js.map
node_modules/react-native-screens/lib/commonjs/native-stack/navigators/createNativeStackNavigator.js
node_modules/react-native-screens/lib/commonjs/native-stack/navigators/createNativeStackNavigator.js.map
node_modules/react-native-screens/lib/commonjs/native-stack/views/FontProcessor.js
node_modules/react-native-screens/lib/commonjs/native-stack/views/FontProcessor.js.map
node_modules/react-native-screens/lib/commonjs/native-stack/views/HeaderConfig.js
node_modules/react-native-screens/lib/commonjs/native-stack/views/HeaderConfig.js.map
node_modules/react-native-screens/lib/commonjs/native-stack/views/NativeStackView.js
node_modules/react-native-screens/lib/commonjs/native-stack/views/NativeStackView.js.map
node_modules/react-native-screens/lib/module/createNativeStackNavigator.js
node_modules/react-native-screens/lib/module/createNativeStackNavigator.js.map
node_modules/react-native-screens/lib/module/index.js
node_modules/react-native-screens/lib/module/index.js.map
node_modules/react-native-screens/lib/module/index.native.js
node_modules/react-native-screens/lib/module/index.native.js.map
node_modules/react-native-screens/lib/module/types.js
node_modules/react-native-screens/lib/module/types.js.map
node_modules/react-native-screens/lib/module/native-stack/index.js
node_modules/react-native-screens/lib/module/native-stack/index.js.map
node_modules/react-native-screens/lib/module/native-stack/types.js
node_modules/react-native-screens/lib/module/native-stack/types.js.map
node_modules/react-native-screens/lib/module/native-stack/navigators/createNativeStackNavigator.js
node_modules/react-native-screens/lib/module/native-stack/navigators/createNativeStackNavigator.js.map
node_modules/react-native-screens/lib/module/native-stack/views/FontProcessor.js
node_modules/react-native-screens/lib/module/native-stack/views/FontProcessor.js.map
node_modules/react-native-screens/lib/module/native-stack/views/HeaderConfig.js
node_modules/react-native-screens/lib/module/native-stack/views/HeaderConfig.js.map
node_modules/react-native-screens/lib/module/native-stack/views/NativeStackView.js
node_modules/react-native-screens/lib/module/native-stack/views/NativeStackView.js.map
node_modules/react-native-screens/lib/typescript/createNativeStackNavigator.d.ts
node_modules/react-native-screens/lib/typescript/index.d.ts
node_modules/react-native-screens/lib/typescript/index.native.d.ts
node_modules/react-native-screens/lib/typescript/types.d.ts
node_modules/react-native-screens/lib/typescript/native-stack/index.d.ts
node_modules/react-native-screens/lib/typescript/native-stack/types.d.ts
node_modules/react-native-screens/lib/typescript/native-stack/navigators/createNativeStackNavigator.d.ts
node_modules/react-native-screens/lib/typescript/native-stack/views/FontProcessor.d.ts
node_modules/react-native-screens/lib/typescript/native-stack/views/HeaderConfig.d.ts
node_modules/react-native-screens/lib/typescript/native-stack/views/NativeStackView.d.ts
node_modules/react-native-screens/native-stack/package.json
node_modules/react-native-screens/native-stack/README.md
node_modules/react-native-screens/src/createNativeStackNavigator.tsx
node_modules/react-native-screens/src/index.native.tsx
node_modules/react-native-screens/src/index.tsx
node_modules/react-native-screens/src/types.tsx
node_modules/react-native-screens/src/native-stack/index.tsx
node_modules/react-native-screens/src/native-stack/types.tsx
node_modules/react-native-screens/src/native-stack/navigators/createNativeStackNavigator.tsx
node_modules/react-native-screens/src/native-stack/views/FontProcessor.tsx
node_modules/react-native-screens/src/native-stack/views/HeaderConfig.tsx
node_modules/react-native-screens/src/native-stack/views/NativeStackView.tsx
